button.demo {
  color: red;
}

body {
  background-color: #282a36;
  color: #ddd;
}

.top-menu-item {
  @apply cursor-pointer rounded-md border-none outline-none focus:outline-none px-4 py-2 focus-within:bg-gray-500 hover:bg-gray-500 transition-colors duration-200;
}

.top-menu-item.active {
  @apply bg-gray-500;
}

[data-reach-listbox-button] {
  @apply w-full rounded-md text-sm border-none outline-none focus:outline-none bg-gray-900 px-4 py-2 focus-within:bg-gray-500 hover:bg-gray-500 transition-colors duration-200 !important;
}

[data-reach-listbox-popover] {
  @apply rounded-sm outline-none focus:outline-none border-none z-50 !important;
}

[data-reach-listbox-list] {
  @apply outline-none focus:outline-none !important;
}

[data-reach-listbox-option] {
  @apply text-gray-700 text-sm transition-colors duration-200 px-4 py-2 hover:text-white focus:text-white !important;
}

[data-reach-listbox-option][aria-selected="true"] {
  @apply text-white !important;
}

[data-reach-combobox-option] {
  @apply text-sm transition-colors duration-200 px-4 py-2 !important;
}

[data-reach-tooltip] {
  background: hsla(0, 0%, 0%, 0.75) !important;
  color: white !important;
  border: none !important;
  border-radius: 4px !important;
  padding: 0.5em 1em !important;
  max-width: 400px !important;
  line-break: auto !important;
  white-space: pre-line !important;
  z-index: 50 !important;
}

[data-reach-dialog-overlay] {
  @apply z-50 !important;
}

[data-reach-dialog-content] {
  background-color: #282a36 !important;
  color: #ddd !important;
  @apply relative rounded-none sm:rounded-md w-full sm:w-11/12 md:w-10/12 lg:w-9/12 xl:w-8/12 2xl:w-7/12 !important;
}

.dialog-sm[data-reach-dialog-content] {
  background-color: #282a36 !important;
  color: #ddd !important;
  @apply w-full sm:w-11/12 md:w-9/12 lg:w-7/12 xl:w-6/12 2xl:w-4/12 !important;
}

.ql-editor.ql-blank::before {
  color: inherit !important;
  opacity: 0.5;
  left: 0 !important;
  font-style: unset !important;
  @apply font-normal text-sm;
}

.ql-editor a[href]::before {
  z-index: 50;
  /* left: 0 !important; */
  left: unset !important;
  right: 0 !important;
  /* bottom: 0 !important; */
  transform: translate(105%, -25%) !important;
  @apply bg-gray-500 rounded-md !important;
  display: none !important;
  @apply text-sm;
}

.ql-editor a[href]::after {
  display: none !important;
}

.ql-editor {
  padding: 0 !important;
  @apply text-sm;
}

.ql-tooltip-arrow {
  display: none !important;
}

.ql-toolbar {
  @apply bg-gray-500 rounded-md;
}

.quill {
  min-height: 36px;
  @apply w-full py-2 px-4 text-sm text-white bg-gray-900 rounded-md focus-within:outline-none focus-within:bg-white focus-within:text-gray-900 flex-1 transition-colors duration-200;
}

.loader {
  @apply flex flex-row justify-center items-center;
}

.loader::after {
  content: "";
  border-top-color: #ddd !important;
  -webkit-animation: spinner 1.2s linear infinite;
  animation: spinner 1.2s linear infinite;
  border-width: 5px;
  @apply ease-in-out rounded-full border-gray-600 h-10 w-10;
  /* border-top-color: rgba(75, 85, 99, var(--tw-border-opacity)); */
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.95);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.95);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
